* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .main-container{
    display: flex;
    flex-direction: row;
} */
.image-container {
    overflow: hidden;
    object-fit: cover;
    background: fixed;
    height: 100vh;
    position: relative;
}

.box-container {
    width: 40%;
    /* height: 400px; */
    background-color: rgb(255, 255, 255);
    /* margin-left: -1550px;
    margin-top: 200px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    margin: 3rem;
    margin-left: 10px;
}

.row label {
    font-size: 20px;
}

.btn {
    width: 90%;
    margin: 0px 10px 10px 36px;
    padding: 8px;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 5%;
    background-color: rgb(180, 151, 207);
}

h2 {
    margin: 10px 10px;
    font-size: 30px;
}

.box-container {
    display: none;
}

.next-btn {
    width: 200px;
    height: 50px;
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 28px;
    margin-top: 50px;
}

.next-btn:hover {
    background-color: rgb(155, 61, 61);
    transition: 1s;
}

.endBox {
    display: none;
    width: 50%;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}